<app-header></app-header>

<div class="box">
    <div class="heading">
        <h2>Project</h2>
        <button type="button" class="btn btn-primary" routerLink="/create-project">create-project</button>
    </div>
    <div class="search">
        <input type="text" name="" id="" [formControl]="searchControl" placeholder="Search Project..">
    </div>
    <div class="table">


        <table class="table">
            <thead>
                <tr>
                    <th scope="col">



                        <i class="fa-solid fa-star" (click)="importantProjectFilter()"
                            [ngClass]="{'star-active': showOnlyImportant, 'star-inactive': !showOnlyImportant}"></i>

                    </th>
                    <th scope="col">Project Name

                    </th>
                    <th scope="col">Key</th>
                    <th scope="col">Lead</th>
                    <th scope="col">Type</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let project of filteredProjects; let i = index">
                    <td scope="row"><i class="fa-solid fa-star" [ngClass]="{'star-color': project.isStar}"
                            (click)="star(project)">

                        </i></td>
                    <td (click)="selectProject(project)"> <img class="css-1vqlrw"
                            src="https://tarunkalal841.atlassian.net/rest/api/2/universal_avatar/view/type/project/avatar/10403?size=medium"
                            alt="">
                            {{project.projectName}}
                    </td>
                    <td>{{project.projectKey}}</td>
                    <td class="data">
                        <p class="leader">{{email | newInitial }}</p>
                        <p>{{email}}</p>
                    </td>
                    <td>Team-managed software</td>


                    <td>
                        <button mat-button [matMenuTriggerFor]="menu"> <i
                                class="fa-duotone fa-solid fa-ellipsis"></i></button>
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="moveToTrash(i)">Move To Trash</button>

                        </mat-menu>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <hr>
</div>