<div class="top">
  <div class="header">
    <div>
      <h2>
        Create issue
      </h2>
    </div>
    <div class="header2">

      <button class="fa-solid fa-multiply but" (click)="onCloseDialog()"></button>

    </div>
  </div>
  <div class="inner">
    <div class="container ">
      <form [formGroup]="registerProject" class="formLa">
        <h5 style="flex-basis: 900px;">Required fields are marked with an asterisk <span class="star">*</span></h5>
        <div class="form-group">
          <label for="project" style="margin-top: 5px;margin-bottom: 13px;">Project<span class="star">*</span></label>
          <ng-select id="project" formControlName="ProjectName">
            <ng-option *ngFor="let pro of projects" [value]="pro">{{pro}}</ng-option>
          </ng-select>
          <div
            *ngIf="registerProject.get('ProjectName')!.invalid &&( registerProject.get('ProjectName')?.touched || registerProject.get('ProjectName')?.dirty)">
            <span *ngIf="registerProject.get('ProjectName')?.errors!['required']" style="color: red;"> Select Project
            </span>
          </div>
          <!-- <select class="form-control form-select" id="country" formControlName ="ProjectName" required>
            <option>Scrum-2</option>
          </select> -->
        </div>
        <div class="form-group">
          <label for="issueType">Issue Type <span class="star">*</span></label>
          <select class="form-control form-select" id="issueType" formControlName="IssueType">
            <option *ngFor="let type of issue" [value]="type">{{type}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control form-select" id="status" formControlName="status">
            <option *ngFor="let one of status" [value]="one"> {{one}}</option>
          </select>
        </div>
        <div class="form-group2 " style="margin-left:7px ;">
          <label for="summary">Summary<span class="star">*</span></label>
          <input type="text" class="form-control" value="summary" formControlName="summary" id="summary">
          <div *ngIf=" registerProject.get('summary')!.invalid && (registerProject.get('summary')?.touched || registerProject.get('summary')?.dirty )">
            <span *ngIf="registerProject.get('summary')?.errors!['required']" style="color: red;">Summary is
              required</span>
          </div>
        </div>
        <div class="form-group2 " style="margin-left:7px ;">
          <label for="description">Description</label>
          <quill-editor id="description"  formControlName="description" [styles]="{'height':'300px'}" ></quill-editor>
        </div>
        <div class="form-group">
          <label for="assign">Assignee</label>
          <select class="form-control form-select" id="assign" formControlName="Assign">
            <option *ngFor="let assignee of reporter" [value]="assignee">{{assignee}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="label">Labels</label>
          <select class="form-control form-select" id="label" formControlName="Label">
            <option value="label">sdfljansdf</option>
          </select>
        </div>
        <div class="form-group">
          <label for="parent">Parent</label>
          <select class="form-control form-select" id="parent" formControlName="Parent">
            <option value="parent">sdfljansdf</option>
          </select>
        </div>
        <div class="form-group">
          <label for="sprint">Sprint</label>
          <select class="form-control form-select" id="sprint" formControlName="sprint">
            <option value="sprint">sdfljansdf</option>
          </select>
        </div>
        <div class="form-group">
          <label for="timePoint">Story points estimate</label>
          <input type="number" class="form-control " id="timePoint" name="name" value="Time" formControlName="Time">
        </div>
        <div class="form-group">
          <label for="reporter">Reporter<span class="star">*</span></label>
          <select class="form-control form-select" id="reporter" formControlName="Reporter">
            <option *ngFor="let repo of reporter" [value]="repo">{{repo}}</option>
          </select>
          <div *ngIf=" registerProject.get('Reporter')!.invalid && (registerProject.get('Reporter')?.touched || registerProject.get('Reporter')?.dirty )">
            <span *ngIf="registerProject.get('Reporter')?.errors!['required']" style="color: red;">Field is
              required</span>
          </div>
        </div>
        <div class="form-group">
          <label for="attachment">Attachment</label>
          <div id="attachment">
            <label style="cursor: pointer;" for="Upload">
              <img [src]="imageUrl?imageUrl:'add image icon.png'"
                style="max-width: 120px; margin-bottom: 30px;"></label>
            <input type="file"  id="Upload" class="d-none"
              (change)="onFileSelected($event)" >
          </div>
        </div>
        <div class="form-group" id="extra">
          <label for="linkedIssue">Linked Issue</label>
          <select class="form-control form-select" id="linkedIssue" formControlName="LinkedIssue">
            <option *ngFor="let issue of linkedIssue" [value]="issue">{{issue}}</option>

          </select>
          <select class="form-control" id="linkedIssue" formControlName="CreateAnotherIssue">
            <option *ngFor="let i of Option" [value]="i">{{i}}</option>
          </select>
          <p *ngIf="Option.length === 0" class="no-match">No match found</p>
        </div>
        <div class="form-group">
          <input class="form-check-input bot" type="radio" name="flexRadioDefault" id="flagged">
          <label for="flagged" id="bot">Flagged</label>

        </div>

      </form>
    </div>

  </div>
  <div class="footer">
    <div style=" width: 45%;">
      <div class="form-check">
        <input class="form-check-input bot" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" id="bot" for="flexRadioDefault1">
          Create another issue
        </label>
      </div>
    </div>
    <div class="footer2">
      <button class="but">Cancel</button>
      <button class="btn btn-primary" (click)="onSubmit()" [disabled]="registerProject.invalid">Create</button>
    </div>
  </div>
</div>