/* *{
  font-family:  apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;;
}

.header{
    display: flex;
    width: 100%;
    height: 80px;
    background-color: white;
    padding: 0 10px 0 10px;
    justify-content: space-between;
    align-items: center;
  
}
.header2{
    display: flex;
    justify-content: space-around;
    width: 15%;
}
.form-group{
    width: 45%;
    margin: 10px;
}

.form-group2{
    width: 100%;
    margin-top: 10px;
}
.custom-input {
    align-items: start;
    width: 100%; 
    height: 100px; 
  }
  .inner{
    padding-left: 2%;
    padding-right: 2%;
    background-color: white;
    width:100%;
    
  }
  .container{
    margin-top: 8%;
    margin-bottom: 10%;
  }
  .footer{
    display: flex;
    width: 73%;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    position: fixed;
    bottom: 47px;

    height: 80px;
    padding: 0 10px 0 10px;
    background-color:white;

    align-items: center;
  }
  .footer2{
    display: flex;
    justify-content: space-around;
    width: 15%;
  

  }
  .country{
    border:.5px solid rgba(0, 0, 0, 0.774);
    margin: 10px;
  }
.form-control{
  margin-top: 10px;
}
.but{
  border: 0;
  background-color: white;
}
.but:hover{
  background-color:  #f5f5f5
}
.formLa{
  display: flex;
  justify-content: start;
flex-wrap: wrap;
/* align-items: start; */
/* } */
/* .bot{
  margin-left: 10px;
  margin-right: 10px;
}
#bot{
  margin-left: 30px;
}
ng-select{
  border: .8px solid rgb(206, 212, 218)  ;
  border-radius: 4px;
}
.star{
  color: red;
  margin-left: 2px;
}
.invalid-control{
  border: .8px solid red;
  
/* }  */
/*  */
ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}
.header{
  display: flex;
  width: 1085px;
  height: 80px;
  background-color: white;
  padding: 0 10px 0 10px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 400;
  padding-left: 1.3%;
  padding-right: 1.3%;
}
.top{
  width: 100%;
}
.form-group2{
  width: 100%;
  margin-top: 10px;
}
.container{
  padding-left: 2%;
  padding-right: 2%;
  background-color: white;
  width:100%;
  margin-top: 8%;
}
.footer{
  display: flex;
  width: 1000px;
  justify-content: space-between;
  padding: 0 10px 0 10px;
 

  height: 80px;
  padding: 0 10px 0 10px;
  background-color:white;

  align-items: center;
}
.footer2{
  display: flex;
  justify-content: space-around;
  width: 15%;


}
.star{
  color: red;
  margin-left: 2px;
}
.form-group{
  width: 45%;
  margin: 10px;
}
.but{
  border: 0;
  background-color: white;
}

.formLa{
  display: flex;
  justify-content: start;
flex-wrap: wrap;

}