<!-- <div class="mode1">
    <h2 mat-dialog-title>Form</h2>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="inner">
    <mat-dialog-content>
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput formControlName="name">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email">
        </mat-form-field>
      </mat-dialog-content>
      <mat-dialog-actions>
        <button mat-button type="button" (click)="onCancel()">Cancel</button>
        <button mat-button type="submit">Submit</button>
      </mat-dialog-actions>
  </div>
</form>
</div> -->
<div class="mode1">
  <div class="inner">
    <h2>Welcome!</h2>
    <p>Your first project is ready to kick off. Its where you will track task across team,turning big ideas into real
      outcomes.</p>
    <form>
      <div class="mb-3">
        <label for="project">Name your Project</label>
        <div class="input-group">
          <input id="project" class="form-control" placeholder="eg:- Kanban Project" name="dp" ngbDatepicker
            #dp="ngbDatepicker" />
        </div>
      </div>
      <div class="inner2 mt-3">
        <p style="font-weight: bold;">How familiar are you with Jira?</p>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="form-check-label" for="flexRadioDefault1">
            Not familiar
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Somewhat
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="form-check-label" for="flexRadioDefault2">
            Familiar
          </label>
        </div>
      </div>
    </form>

    <div class="button">
      <button type="button" class="btn btn-primary">Get started</button>
    </div>

  </div>
            <div class="image">
        </div>
</div>