<nav class="main">
    <!-- <a href="#" class="main-logo"
      ><i class="material-icons">fastfood</i> foodRoad</a
    > -->
   <div class="before">
    <div class="icon" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcc2TZvbHh60NDISnKd4Vk-BgGqoL_JWCpIw&s" alt="">
        <h1>jira</h1>
    </div>
    <ul class="main-lin">
      <li class="main-drop">
        <a href="#">Your Work</a>
        <div class="drop">
          <a href="#">Assigne To Me</a>
          <a href="#">Resent</a>
          <a href="#">Boards</a>
        </div>
      </li>
      <li class="main-drop">
        <a href="#">Projects</a>
        <div class="drop">
          <a href="#">View All Projects</a>
          <a href="#">Create New</a>
         
        </div>
      </li>
      <li class="main-drop">
        <a href="#">Filters</a>
        <div class="drop">
          <a href="#">View All Filters</a>
          <a href="#">View All Issues</a>
         
        </div>
      </li>
      <li class="main-drop">
        <a href="#">Dashboards</a>
        <div class="drop">
          <a href="#">View All Dashboards</a>
          <a href="#">Create Dashboards</a>
        
        </div>
      </li>
      <li class="main-drop">
        <a href="#">Teams</a>
        <div class="drop">
          <a href="#"><i class="fa-solid fa-plus"></i>Invite Peoples To Jira</a>
          <a href="#"><i class="fa-solid fa-people-group"></i>Create a Team</a>
        
        </div>
      </li>
      <li class="main-drop">
        <a href="#">Apps</a>
        <div class="drop">
          <!-- <a href="#">Paneer Chill Dry</a>
          <a href="#">Paneer Garlic</a>
          <a href="#">Veg Garlic</a>
          <a href="#">Veg Chilli</a> -->
        </div>
      </li>
    </ul>
    <button type="button" class="btn btn-primary" (click)="openDialog()">Create</button>
   </div>

    <!-- <a  class="btn" >Upgrad</a> -->
  <div class="after">
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
      </form>
   <div class="after-icon">
    <i class="fa-solid fa-bell"></i>
    <i class="fa-solid fa-question"></i>
    <i class="fa-solid fa-gear"></i>
    <i class="fa-solid fa-user"></i>
   </div>
  </div>
  </nav>
