<div class="con">
    
<h3>Do You Want  Delete The Project?</h3>
<p>The project along with its issues, Jira components, attachments, and versions will be available in the trash for 60
    days after which it will be permanently deleted.

</p>
<p> Only Jira admins can restore the project from the trash.</p>
<div class="butnn">
    <button (click)="onCancel()" type="button" class="btn btn-light">Cancel</button>
<button (click)="onSubmit()" type="button" class="btn btn-danger">Delete</button>
</div>
</div>