.top{
    
}
.image{
    width: 100%;
}
.action{
    display: flex;
    justify-content: end;
    margin-top: 10px;
}
.but{
    border: 0;
    border-radius: 4px;
    outline: none;
    margin-left:5px ;
}
.inner{
    padding-left: 2%;
    padding-right: 2%;
}