<div class="top">
    <div class="image"><img src="badge-banner.af218529.svg" style="width: 100%;" ></div>
    <div class="inner">
        <h3>Complete first sprint</h3>
        <div>
            This sprint contains
            <li></li>
            <li></li>
        </div>
        <div>
            <label for="project">Move open issues to</label>
            <ng-select  id="project"  formControlName="ProjectName">
                <ng-option >sdfgfamsdnf</ng-option>
                <ng-option >sdfgfamsdnf</ng-option>
                <ng-option >sdfgfamsdnf</ng-option>
              </ng-select>
        </div>
        <div class="action">
            <button (click)="cancel()" class="but">Cancel</button>
            <button class="but" style="background-color: #0052CC; color: white;">Complete Sprint</button>
        </div>
    </div>
</div>