<div class="edit">
    <h3>
        Edit sprint
    </h3>
    <p>Required fields are marked with an asterisk *</p>
    
    <div class="input">
        <label for="sprint">Sprint name<span class="star">*</span></label>
        <input type="text " id="sprint">
    </div>
    <div class="input">
        <label for="start">Start Date</label>
    <input type="date" [(ngModel)]="startDate" (dateChange)="calculateEndDate()">
    </div>
    <div class="input">
        <label for="duration">Duration</label>
        <ng-select id="duration" [(ngModel)]="selectedWeeks" (ngModelChange)="calculateEndDate()">
            <ng-option *ngFor="let week of weeks" [value]="week">{{week}}</ng-option>
            <ng-option value="custom">Custom</ng-option>
        </ng-select>
    </div>
    <div *ngIf="selectedWeeks === 'custom'" class="input">
        <label for="custom"></label>
        <input type="number " id="custom" [(ngModel)]="customWeeks" type="number" placeholder="Enter the number of weeks" (input)="calculateEndDate()" >
    </div>
    
    
        <div >
            <p>End Date: {{ endDate | date }}</p>
        </div>
        <div class="goal">
            <label for="goal"></label>
            <input type="text" id="goal" placeholder="message">
        </div>
    <div class="action">
        <button class="but" (click)="cancel()">Cancel</button>
        <button class="but" style="background-color: #0052CC; color: white; ">Update</button>
    </div>
</div>