<div class="container-fluid d-flex align-item-center justify-content-center">
  <img
    src=".././assets/Wallpaper.jpg"
    alt="img"
    style="width: 10px; height: 10px; background-size: contain"
  />
  <form>
    <div class="mb-3">
      <h1>ATLASSIAN <img src="assets/atlassian.png" alt="img" /></h1>
      <label for="exampleInputEmail1" class="form-label"
        >Log in to continue</label
      >
      <input
        type="email"
        class="form-control"
        aria-describedby="emailHelp"
        placeholder="Enter your email"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else.
      </div>
      <button type="submit" class="btn btn-primary w-100 mt-3">
        <img
          src="assets/google.svg"
          alt="img"
          style="width: 10px; height: 10px"
        />Continue
      </button>
      <label for="exampleInputEmail1" class="form-label"
        >Or continue with</label
      >
      <button type="submit" class="btn btn-primary w-100 mt-3">Google</button>
      <button type="submit" class="btn btn-primary w-100 mt-3">
        Microsoft
      </button>
      <button type="submit" class="btn btn-primary w-100 mt-3">Apple</button>
      <button type="submit" class="btn btn-primary w-100 mt-3">Stack</button>
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <hr />
      <h2>ATLASSIAN</h2>
      <p>ibijbviloihovibjp nkji</p>
    </div>
  </form>
</div>
